In [1]:
price=50
if price <= 500:
  pass
# no such{}

In [2]:
price <= 500

True

In [6]:
#price=50
#if price <= 500:

# no such{}

 """File "<ipython-input-3-325e69fc9538>", line 4
    # no such{}
               ^
SyntaxError: incomplete input"""

IndentationError: ignored

In [9]:
price =500
if price <= 850:
  print("yes i wiil buy")

In [10]:
price =850
if price <= 500:
  print("yes i wiil buy")
else :
  print("iwill not buy")

iwill not buy

In [23]:
a= 500
price =850
shirt_price=200
pant_price =500
coat_price = 800
my_size="M"
size_store=['l','xl','xxl','xxxl','m']
my_fav_clr= 'white'
store_clr = ['red']
if True:
  print("This is a testing block")
if coat_price <= a:
  print(" i wiil try to buy")
elif pant_price < 500 :
  print("pant")
elif shirt_price < 500:
  print("budget friendly")
  if my_size in size_store:
     print(" buy shirt")
     if my_fav_clr in store_clr:
        print("yes i will try to chose it")
     else :
        print("we will not choose")
  else :
    print("my size is not available")

else :
  print("iwill not buy")

This is a testing block
budget friendly
my size is not available

In [12]:
500<500

False

In [18]:
'M' in size_store

False

In [25]:
course = ['das','DSm','java','big data','da']
price =20000
mentor = "sudhanshu Kumar"

if 'DSm' in course and price == 20000 and "sudhanshu Kumar" == mentor:
  print("yes i am going to do this course")

yes i am going to do this course

In [27]:
course_price = 20000

if 10000<=course_price<=15000:
  print("I will going to buy this price")
else :
  print("its out of my budget")

its out of my budget

In [28]:
10000<=course_price<=15000

False

In [29]:
user_name = 'sudh'
password = 'sudh@1234'


if user_name == input("enter your username") and password == input("enter your pasword") :
  print("you have logged in")
else:
  print("wrong")

enter your usernamesudh
enter your paswordsuydh@1234
wrong

In [30]:
user_name = 'sudh'
password = 'sudh@1234'


if user_name == input("enter your username") or password == input("enter your pasword") :
  print("you have logged in")
else:
  print("wrong")

enter your usernamesudh
you have logged in

In [64]:
mobile_no = {123456,254445,25555212211}
otp =1234
if int(input("enter your register mobile number")) in mobile_no:
   print("yes you are a registered user")
   if otp == int(input("enter that otp")):
      print("you have log in succesfully")
   else :
      print("wrong otp")
else :
  print("wrong mobile number")
  #problem

enter your register mobile number123456
yes you are a registered user
enter that otp1234
you have log in succesfully

In [45]:
l= [12,3,3,45,6]
mobile_no = [123456,254445,2555,5212211]

student_mo = 123456
stud_details = {'mobile_no' :123456,'course' :['das','dsm','big data']}

for i in l:
  print(i)
for i in mobile_no:
  print(i)
  if i == student_mo:
    print("user is register")
    if i ==stud_details['mobile_no']:
      print("yes student details are available")
      print("course accesssed to this user is ",stud_details['course'])

12
3
3
45
6
123456
user is register
yes student details are available
course accesssed to this user is  ['das', 'dsm', 'big data']
254445
2555
5212211

In [48]:
t =(12,3,4,5,"sudh","Jyotirmoy")

for i in t :
  print(i)

12
3
4
5
sudh
Jyotirmoy

In [50]:
t =(12,3,4,5,"banerjee","Jyotirmoy")
l_int=[]
l_str=[]

for i in t :
  if type(i) == str :
     print(i)

banerjee
Jyotirmoy

In [53]:
t =(12,3,4,5,"banerjee","Jyotirmoy")
l_int=[]
l_str=[]

for i in t :
  if type(i) == str :
     l_str.append(i)
  elif type(i) ==int:
     l_int.append(i)
print(l_int)
print(l_str)

[12, 3, 4, 5]
['banerjee', 'Jyotirmoy']

In [54]:
for  i in s:
  print(i)

NameError: ignored

In [55]:
d ={"name":"sudh",'class':['big data',"data analytica"],"mobile no":554414}

In [56]:
d

{'name': 'sudh', 'class': ['big data', 'data analytica'], 'mobile no': 554414}

In [58]:
for i in d.values():
  print(i)

sudh
['big data', 'data analytica']
554414

In [59]:
for i in d.values():
  if type(i) == list:
     print(i)

['big data', 'data analytica']

In [62]:
for i in d.values():
  if type(i) == list:
    if 'system design' in i :
           print("system design is not present")
    else :
       print("system design is not present")

system design is not present